:root {
  --border: 4px solid rgb(115, 58, 173);
  --backgroundColor: rgba(164, 106, 221, 0.555);
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.wrapper-class {
  display: flex;
  flex-direction: column;
}

.preview-wrapper-class {
  display: flex;
  flex-direction: column;
  justify-self: center;
  margin: auto;
}

.preview-class {
  justify-self: center;
  margin: 2em;
  border: var(--border);
  background-color: var(--backgroundColor);
  padding: 0.5em;
  max-width: 75vw;
  min-width: 50vw;
}

.input-wrapper-class {
  justify-self: center;
  margin: auto;
}

.input-box-class {
  padding: 0.5em;
  border: var(--border);
  background-color: var(--backgroundColor);
  margin: 2em;
  min-height: 200px;
  min-width: 600px;
  word-wrap: normal;
}